<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="MybatisCon"
                connectionString="Data Source=(114.52.63.60)\sqlexpress;Initial Catalog=MVC_Mybatis;Persist Security Info=True;User ID=sa;Password=zhsjtmxhs123"/>
  </database>

  <sqlMaps>
    <sqlMap resource="./dao.xml" />
  </sqlMaps>
</sqlMapConfig>